html{
    @include desktop{
        font-size: 16px;
    }
    @include laptop{
        font-size: 14px;
    }
    @include tablet{
        font-size: 13px;
    }
    @include phone{
        font-size: 12px;
    }
}
html, body{
    height: 100%;
}
body{
    @include roboto;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42;
    color: $gray-green;
}

.wrapper{
    position: relative;
    min-height: 100%;
    overflow: hidden;
    min-width: 25rem;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    margin: 0;
}
h1, h2, h3, h4, h5{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}