footer.footer
  .footer__left
    ul.footer__menu
      each item in ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
        li.footer__menu-item
          a(href="#").footer__menu-link= item
    .footer__desc
      p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
  .footer__right
    
