footer.footer
  .footer__top-container
    .footer__top-left
      include ../parts/menu
      +menu("footer")
    .footer__top-right
      ul.footer__socials
        include socials
        +socials('footer')

  .footer__bottom-container
    .footer__bottom-left
      .footer__desc
        p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__bottom-right
      .footer__copyright
        p  © Владимир Астахов | создано с любовью в LoftSchool | 2016
