mixin hero (additionClass)
  section(class=`hero section hero__${additionClass}`)
    header.hero__header
      .hero__bg
        img(src="/assets/img/backgrounds/mountains.jpg", alt="background").hero__bg-img
      include ../parts/socials
      +socials('hero')
      a(href="").hamburger
        svg.hamburger__svg
          use(xlink:href=`/assets/img/icons/symbol/sprite.svg#hamburger`)
      .hero__title
        if page !== "Blog"
          +section__title('section__title-header section__title-header_dims', 'portfolio_header')
          .user.hero__user-block
            .user__photo
              .user__photo-avatar
                img(src="/assets/img/contents/user-lit.jpg" alt="").user__photo-img
            .user__name 
              p Ion Talmaci
            .user__desc 
              p Личный сайт веб разработчика
        else
          +section__title('section__title-header section__title-header_dims', 'blog_header')
          .user.hero__user-block
          .user__photo
            .user__photo-avatar
              img(src="/assets/img/contents/user-lit.jpg" alt="").user__photo-img
          .title 
            p Блог
          .title__desc 
            p Статьи, которые я написал
      if page !== "Blog"
        a(href="#").arrow__down
          svg.arrow__down-svg
            use(xlink:href='/assets/img/icons/symbol/sprite.svg#arrow_down')