section.section.reviews(style="background: url(/assets/img/backgrounds/water.png)")
  .reviews__wrap
    +title('reviews__title', 'about_header', 'Что  обо мне говорят')
    ul.reviews__list
      li.reviews__item
        .quotation-mark 
        article.review__content
          p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        .review-pic
          img.review-pic__avatar(src="/assets/img/contents/pic1.jpg")
        .review__user-info
          .review__user-name
            p Ковальчук Дмитрий
          .review__user-ocup
            p основатель Loftschool
      li.reviews__item
        .quotation-mark 
        article.review__content
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .review-pic
          img.review-pic__avatar(src="/assets/img/contents/pic2.jpg")
        .review__user-info
          .review__user-name
            p Сабанцев Владимир
          .review__user-ocup
            p преподаватель
    .contact__form-wrap
      .contact__form
        .contact__form-bg
        .subtitle.contact__subtitle
          p Связаться со мной  
        form.form(action="#")
          .contact__form-fields
            .contact__form-fields-wrapp
              input(type="text" placeholder="Имя").contact__form-name
            .contact__form-fields-wrapp
              input(type="text" placeholder="Email").contact__form-email
            .contact__form-fields-wrapp
              textarea(placeholder="Ваше сообщение").contact__form-mess
          .contact__form-btn
            .btn__submit.form__btn
              button(type="submit").btn__submit-link Отправить
            .btn__reset.form__btn
              button(type="reset").btn__reset-link Очистить
    a(href="#").arrow__up
      svg.arrow__up-svg
        use(xlink:href='/assets/img/icons/symbol/sprite.svg#arrow_up')