//colors
$green      : #00bfa5;
$green-dark  : #009688;
$gray-green : #455a64;
$gray       : #d6d6d6;
$black      : #373e42;
$red        : #e44845;
$beige      : #eeebdf;
$white      : #efeee9;
$blue       : #6da3bd;

//font-size
$title-fs       :   63px;
$subtitle-fs    :   35px;

//mixins
@import 'helpers/mixins';

//layout setups
@import 'layout/fonts';
@import 'layout/setups';

//blocks
@import 'blocks/**/*.scss';

//components
@import 'components/**/*.scss';

