.about{
  @extend %clearfix;
  position: relative;
}
.about__left, .about__right{
  width: 50%;
  float: left;
}
.about__left{
  background: $white;
}
.about__right{
  background: $beige;
}
.about__triangles{
  position: absolute;
  bottom: 100%;
}