.about{
  @extend %clearfix;
  position: relative;
}
.about__left, .about__right{
  width: 50%;
  float: left;
  @include laptop{
    width: 100%;
    float: none;
  }
}
.about__left{
  background: $white;
  @extend %clearfix;
  text-align: right;
}
.about__right{
  background: $beige;
}
.about__triangles{
  position: absolute;
  bottom: 100%;
}
.about__triangle-left{
  left: 0;
}
.about__section-title{
  width: 280px;
  margin-right: 30px;
}
.user__about{
  width: 370px;
}
.about__section-title, .user__about{
  @include inlineblock;
  @include large-desktop{
    display: block;
    width: 100%;
    text-align: center;
  }
}
.user__about-wrap{
  @include large-desktop{
    margin: 0 auto;
    width: 400px;
    text-align: center;
  }
}
.about__triangle-right{
  right: 0;
}
.user__about-photo{
  margin-top: 50px;
  width: 90%;
  margin-bottom: 30px;
  @include large-desktop{
    width: 100%;
  }
}
.user__about-img{
  width: 100%;
}
.user__about-title{
  margin-bottom: 30px;
  text-align: center;
  .subtitle{
    p{
      padding: 0 30px;
    }
  }
}
.user__about-desc{
  width: 90%;
  text-align: left;
  padding-bottom: 50px;
  p{
    margin-bottom: 15px;
    font-size: 16px;
    color: $gray-green;
  }
  @include large-desktop{
    width: 100%;
  }
}
.about__data{
  margin: 50px 0 0 50px;
  width: 90%;
  @include desktop{
    width: auto;
  }
  @include laptop{
    margin: 0 auto;
    width: 680px;
    text-align: center;
  }
}
.about__user-info{
  margin-bottom: 50px;
  .subtitle{
    text-align: center;
    margin-bottom: 30px;
    p{
      max-width: 265px;
    }
  }
  @include laptop{
    padding-top: 50px;
  }
}
.about__user-info-text{
  p{
    font-size: 16px;
    color: $gray-green;
  }
}