.works{
  position: relative;
  background: #faf8f0;
}
.works__triangles{
  position: absolute;
  bottom: 100%;
}
.works__triangles-left{
  left: 0;
}
.works__triangles-right{
  left: 50%;
}
.portfolio__title{
  padding: 10px 0;
}