extends ../main-layout

block variables
  -
    var title = "Authentication";

block content
  section.section.auth
    .parallax#parallax
      .parallax__layer.parallax__layer-Layer_5
      .parallax__layer.parallax__layer-Layer_8
      .parallax__layer.parallax__layer-Layer_7
      .parallax__layer.parallax__layer-cloud_2
      .parallax__layer.parallax__layer-Layer_6
      .parallax__layer.parallax__layer-Layer_4
      .parallax__layer.parallax__layer-cloud_1
      .parallax__layer.parallax__layer-Layer_2
      .parallax__layer.parallax__layer-Layer_1
      .parallax__layer.parallax__layer-cloud_0
    .auth__wrapper
      .subtitle
        p Авторизуйтесь
      form.auth__form(action="#" method="get")
        .form__field-wrap
          label( class="form__field")
            input(class="form__field-input" type="text" name="nickname" placeholder="Логин")
            .form__field-svg-wrap
              svg.form__field-svg
               use(xlink:href="/assets/img/icons/symbol/sprite.svg#login")
        .form__field-wrap
          label(class="form__field")
            input(class="form__field-input" type="password" name="password" placeholder="Пароль")
            .form__field-svg-wrap
              svg.form__field-svg
                use(xlink:href="/assets/img/icons/symbol/sprite.svg#password")
        .form__capture-wrap
          label.form__capture-label
            input.form__capture(type="checkbox", name="human" value="yes")
            .form__capture-fake.form__capture-fake-checkbox
              svg.form__capture-fake-svg
                use(xlink:href="/assets/img/icons/symbol/sprite.svg#check")
            .form__capture-text Я человек
        .form__confirm-wrap
          .form__confirm-head Вы точно не робот?
          .form__confirm-item
            label.form__confirm-label
              input(type="radio", name="is-robot" class="form__confirm")
              .form__confirm-fake.form__confirm-fake-radio
              .form__confirm-text Да
          .form__confirm-item
            label.form__confirm-label
              input(type="radio", name="is-robot" class="form__confirm" checked)
              .form__confirm-fake.form__confirm-fake-radio
              .form__confirm-text Не уверен
        .form__menu
          a.form__menu-item.form__menu-item-nav(href="index.html") На главную
          button.form__menu-item.form__menu-item-submit(type="submit") Войти

          