extends ../main-layout

block variables
  -
    var title = "Welcome";
    var nav = [
      {
        name : "Мои работы",
        href : "portfolio.html"
      },
      {
        name : "Обо мне",
        href : "about.html"
      },
      {
        name : "Блог",
        href : "blog.html"
      }
    ]

block content
  section.section.welcome
    .parallax#parallax
      .parallax__layer.parallax__layer-Layer_5
      .parallax__layer.parallax__layer-Layer_8
      .parallax__layer.parallax__layer-Layer_7
      .parallax__layer.parallax__layer-cloud_2
      .parallax__layer.parallax__layer-Layer_6
      .parallax__layer.parallax__layer-Layer_4
      .parallax__layer.parallax__layer-cloud_1
      .parallax__layer.parallax__layer-Layer_2
      .parallax__layer.parallax__layer-Layer_1
      .parallax__layer.parallax__layer-cloud_0
    .welcome__wrapper
      header.welcome__header
        a(href="auth.html").login__button Авторизоваться
      .welcome__user-wrapper
        .user.welcome__user-block
          .user__photo
            .user__photo-avatar
              img(src="/assets/img/contents/user-lit.jpg" alt="").user__photo-img
          .user__name 
            p Ion Talmaci
          .user__desc 
            p Личный сайт веб разработчика
        include ../parts/socials 
        +socials('welcome')
        ul.welcome__nav
          each item in nav
            li.welcome__nav-item
              a(href=`${item.href}`).welcome__nav-link= item.name

        