.hero{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero__header{
  height: 100vh;
}
.hero__bg{
  width: 100vw;
  height: 100vh;

  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#016672, .3)
  }
}
.hero__bg-img{
  width: 100%;
  height: 100%;
}
.socials__hero{
  position: absolute;
  top: 50px;
  left: 50px;

  .socials__item{
    &:hover{
      .socials__icon{
        fill: #fff;
      }
    }
  }
  
  .socials__icon{
    fill: rgba(#fff, .5);
    transition: .2s linear;
  }
}

.hero__title{
  @include centered(y);
  width: 100%;
}
.hero__user-block{
  @include centered;
}

