.title{
  position: relative;
  text-align: center;
  p{
    @include bernier(regular);
    font-size: 63px;
    color: $black;
    position: absolute;
    @include centered;
    padding: 0 10px;
    min-width: 230px;
    text-transform: uppercase;

    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 5px;
      background: rgba($black, .2);
      @include centered(y);
    }
    &:before{
      right: 100%;
    }
    &:after{
      left: 100%;
    }
  }
}
.title__svg{
  fill: #e6e5e0;
  width: 90%;
}