.user{
  text-align: center;
}
.user__photo{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  display: inline-block;
  @include laptop{
    width: 180px;
    height: 180px;
  }
  @include tablet{
    width: 140px;
    height: 140px;
  }
  @include phone{
    width: 100px;
    height: 100px;;
  }
}
.user__photo-img{
  max-width: 100%;
  height: auto;
}
.user__name{
  margin-bottom: 5px;
  p{
    font-size: 35px;
    color: #fff;
    @include roboto(medium);
  }
}
.user__desc{
  p{
    @include roboto(light);
    font-size: 16px;
    color: rgba(#fff, .8);
    @include phone{
      font-size: 14px;
    }
  }
}